.card {
    width: 60%;
    margin-left: 20%;
}
.title {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
}
button{
    margin-top: 25px;
    margin-right: 10px;
}